[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  [type=radio] + img {
    cursor: pointer;
  }
  [type=radio]:checked + img {
    outline: 2px solid #000;
  }

body {
    text-align: center;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p{
    margin: 10px;
}
#score{
    display: inline-flex;
}